*  {
    margin:0;
    font-family: 'Georgia', sans-serif;
}


body {
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

.landing {
    background-image: url("../pasta-pic.jpg");
    color: white;
}

.landing-container {
    margin-left: 2rem;
}

.menu {
    background-image: url("../menu-background.jpg");
    color: black;
    margin: 0rem 20rem 0rem 20rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 40rem);
    flex-direction: column;
}

.menu-flex-child {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: 2px solid rgb(104, 89, 62);
    margin-bottom: 2rem;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    padding: 3rem;
}

.logo {
    cursor: pointer;
}

nav h1 {
    font-size: 2rem;
    margin-right: 2rem;
}

#content {
    margin-top: 5rem;
    width: 37%;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.menu-title {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.menu-item-title {
    font-size: 2rem;
    font-weight: 700;
}

.menu-item-text {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.landing-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

button {
    color: white;
    border: none;
    font-size: 1.5rem;
    margin: 2rem;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

.active {
    color: pink;
}

.landing-button {
    padding: 1rem 2.5rem;
    border: 2px solid white;
}

button:hover {
    color: yellow;
}